:root {
  --primary-blue: rgb(21, 93, 252);
  --danger-red: #dc2626;
  --primary-blue-hover: #125ee2;
  --primary-blue-disabled: #87abfc;
  --surface: #fff;
  --border: 1px solid #e4e4e7;
  --surface-hover-dark: rgb(240, 240, 240);
  --surface-hover-light: #f9fafb;
  --surface-hover-light2: #fafafa;
  --surface-hover-light3: #f4f4f4;
  --text-normal: black;
  --text-normal2: rgb(50, 50, 50);
  --text-normal3: #1e2939;
  --text-light: #717171;
  --text-light2: #9f9fa9;
  --text-blue: #63b3cd;
  --primary-box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dark {
  /* --primary-blue: rgb(59, 130, 246); */
  /* --danger-red: #ef4444; */
  /* --primary-blue-hover: #3b82f6; */
  --primary-blue-disabled: rgb(62, 123, 255);

  --surface: #101013;
  /* main background */
  --border: 1px solid #334155;

  --surface-hover-dark: #2e2e39;
  --surface-hover-light: #23232b;
  --surface-hover-light2: #1d1d25;
  --surface-hover-light3: #282836;

  --text-normal: #ffffff;
  --text-normal2: #cbd5f5;
  --text-normal3: #f1f5f9;

  --text-light: #94a3b8;
  --text-light2: #64748b;
  --primary-box-shadow:
    rgba(207, 207, 211, 0.25) 0px 6px 12px -2px,
    rgba(215, 215, 215, 0.3) 0px 3px 7px -3px;

  --text-blue: #38bdf8;
}

.Toastify__progress-bar {
  background: var(--primary-blue) !important;
}

.Toastify__toast-body {
  color: var(--text-normal);
  background-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

h1,
h2,
h3 {
  font-weight: 600;
}

button {
  font-weight: 500;
}

p,
span,
li {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

button,
input,
textarea,
select {
  font-family: inherit;
  background-color: var(--surface);
  color: var(--text-normal);
}

button {
  transition: all 0.3s ease;
}
button:disabled {
  cursor:auto;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #bbc3d1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #99a5bc;
}
.dark {
  ::-webkit-scrollbar-track {
    background-color: #171a23;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #232731;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #181a1f;
  }
}
/*? Utility Classes */

/*? Blue Button */
.primary-button {
  background-color: var(--primary-blue);
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:hover {
    background-color: var(--primary-blue-hover);
  }

  &:disabled {
    cursor: default;
    background-color: var(--primary-blue-disabled);
  }
}
.danger-button {
  margin-top: 2rem;
  width: 100%;
  background-color: var(--surface);
  color: var(--danger-red);
  border: 2px solid var(--danger-red);
  &:hover {
    background-color: rgba(255, 239, 239, 0.566);
  }
}
.dark .danger-button:hover {
  background-color: rgba(249, 58, 58, 0.1);
}

.secondary-button {
  background-color: var(--surface);
  border: 2px solid var(--primary-blue);
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:hover {
    background-color: var(--surface-hover-dark);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--surface-hover-light3);
  }
}
