

  .task-delete-btn {
  button{
    width: fit-content;
  }
  /* position: absolute; */
  /* right: 1rem; */
}
.task-comment-wrapper {
  display: flex;
  border-radius: 13px;
  padding: 10px;
  gap: 1rem;
  flex-direction: column;
}
.task-comment-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 15rem;
  overflow-y: auto;
  gap: 6px;
}
.task-comment {
  display: flex;
}
.task-comment-item {
  margin-right: 10px;
  border: var(--border);
  width: fit-content;
  border-radius: 20px;
  padding: 8px 1rem;
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  background-color: var(--surface-hover-dark);
  margin-bottom: 15px;
  p {
    margin: 0 !important;
    color: var(--text-normal);
    font-size: 14px !important;
  }
  span {
    font-size: 12px;
    position: absolute;
    bottom: -15px;
    left: 0;
  }
}

.my-comment {
  justify-content: flex-end;
  .task-comment-item {
    background-color: var(--primary-blue);
    p {
      font-weight: 600;
      color: white;
    }
  }
}

.post-comment {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}
.subtask-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 14rem;
  overflow: auto;
}
.subtask-item {
  z-index: 1;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: var(--border);
  margin-right: 1rem;
}

.task-attachments {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.task-attachment-upload {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.task-attachment-item {
  border: var(--border);
  border-radius: 7px;
  padding: 0.75rem 1rem;
  color: var(--text-normal);
  text-decoration: none;
}

.task-attachment-item:hover {
  background-color: var(--surface-hover-light);
}

/* ? CHECKBOX */
.checkbox-wrapper-18 .round {
  position: relative;
}

.checkbox-wrapper-18 .round label {
  background-color: var(--surface);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: block;
}

.checkbox-wrapper-18 .round label:after {
  border: 2px solid var(--surface);
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 8px;

  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
  visibility: hidden;

  display: none;
  opacity: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label {
  background-color: var(--text-normal);
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
